#description {
  text-transform: capitalize;
}
.weather-app {
  font-family: "Nunito", sans-serif;
  max-width: 700px;
  margin: 20px auto;
  background: linear-gradient(to bottom, #f9e0d6 0%, #8acfef 100%);
}
.search-button {
  background: #0b71a0;
  color: #fff;
}
.search-button:hover {
  background: #0b71a0;
  color: #fff;
  opacity: 0.7;
}
.current-location-button {
  background: #0b71a0;
  color: #fff;
}
.current-location-button:hover {
  background: #0b71a0;
  color: #fff;
  opacity: 0.7;
}
.current-temp {
  font-size: 5.5em;
  display: inline;
}

.temp-toggle {
  vertical-align: top;
}
.unit-toggle {
  text-decoration: none;
}
.active {
  font-weight: 900;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temperatures {
  font-size: 13px;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
footer {
  font-family: monospace;
}
